<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="about content">
    <h2>About Us</h2>
    <p>Simple Text to test About Route</p>
    <p>Simple Text to test About Route.</p>
    <p>Simple Text to test About Route.</p>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>